{% extends 'base.html.twig' %}

{% block title %}Liste des pages!{% endblock %}

{% block body %}
<h1>Liste des pages disponibles</h1>
<div class="jumbotron">
        <div class="container">
        <div class="row">
{% for page in pages %}
        <div class="col-4">
       <article>
            
            <h2>{{page.titre}}</h2>
            <div class = "metadata">  </div>
             <div class = "contenu">
            <img src="https://via.placeholder.com/300x200" alt="">
             {{page.contenu}}
            <a href="{{path('admin.show',{'id':page.id})}} " class="btn btn-primary"> Lire la suite </a>      
            </div>          
       </article>   
       </div>
{% endfor %}
       </div>
<div class="navigation">
  
    

</div>
{% endblock %}
