{% extends 'base.html.twig' %}   
         
{% form_theme formPage 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class = "jumbotron">
<h2>Creation d'une nouvelle page<h2>
</div>

{{ form_start(formPage) }}
{{ form_widget(formPage) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formPage) }}

{% endblock %}


