{% extends 'base.html.twig' %}   
         
{% form_theme formModifPage 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class = "jumbotron">

    <h2> MODIFICATION des pages </h2>
            
       
</div>


{{ form_start(formModifPage) }}

{{ form_widget(formModifPage) }}
<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formModifPage) }}

{% endblock %}


